 /* body {
  background-color: black;
  color: white;
} */

.center {
  margin: auto;
  width: 90%;
  border: 6px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
} 

.btns{
  margin: 0px 13px 0px 13px;
  width: 100px;
}

#app {
  border: 6px solid yellow;
  margin-block: 3px;
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  justify-content: space-around;
}

.myCardStyle {
  margin-bottom: 20px;
}

.cat{
  background-color: lightblue;
  color: blue;
}

.dog{
  background-color: lightgreen;
  color: green;
}

.dino{
  background-color: lightyellow;
  color: darkgoldenrod;
}
